.filter{
    &--heading{
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0px 5px;
    }
    &--pill{
        background-color: #b7de7b;
        max-width: 120px;
        padding: 0px 13px;
        cursor: pointer;
    }
    &-selected{
        background: teal;
        color: white;
    }
   

}

.filter-container{
    min-height: calc(100vh - 60px);
}



@media (min-width: 700px){
    .filter-container{
        position: sticky;
        top: 0px;
        min-height: initial;
    }
    
}